<div class="logo-barrabusqueda-compraEnCuotas">
    <div class="logo-barrabusqueda">
        <img class="logo" src="/images/logo-mercado-liebre.svg">
        <div class="barrabusqueda">
            <input type="search" name="barrabusqueda" placeholder="Buscar productos, marcas">
            <button type="submit" name="Buscar" value="Buscar"><i class="fas fa-search"></i></button> 
        </div>
    </div>
    <div class="compraEnCuotas">
        <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito
    </div>
</div>
<div class="site-login">
    <ul class="site">
    <li><a href="">Ofertas</a></li>
    <li><a href="">Tiendas Oficiales</a></li>
    <li><a href="">Vender</a></li>
    <li><a href="">Ayuda</a></li>
    </ul>
    <ul class="login">
    <li class="creaTuCuenta"><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
    <li class="ingresa"><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
    <li class="misCompras"><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    </ul>
</div>
<div class="burguer-menu">
    <i class="fas fa-bars"></i>
</div>
<img class="banner" src="/images/img-home-banner.jpg"></img>