<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
</head>
<body>
    <header>
        <%- include("./partials/header") %>
    </header>
    <main>
        <section class="ultimaVisita"> 
            <h3 class="titular">Basado en tu última visita</h3>
            <div class="articulos">
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg" width="100%"></img>
                    <div><i class="fas fa-truck"></i></div>
                    <div class="precio-descuento">  
                        <div class="precio">$6.770</div>
                        <div class="descuento"><small>40% off</small></div>
                    </div>
                    <div class="producto">Cafetera Moulinex</div>
                </article>
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" width="100%"></img>
                    <div><i class="fas fa-truck"></i></div>
                    <div class="precio-descuento">
                        <div class="precio">$230.000</div>
                        <div class="descuento"><small>20% off</small></div>
                    </div>
                    <div class="producto">MacBook Pro 2019</div>                
                </article>
                <article class="articulo">           
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="100%"></img>
                    <div><i class="fas fa-truck"></i></div>
                    <div class="precio-descuento">
                        <div class="precio">$70.500</div>
                        <div class="descuento"><small>10% off</small></div>
                    </div>
                    <div class="producto">Samsung Galaxy S10</div>       
                </article>          
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg" width="100%"></img>
                    <div><i class="fas fa-truck"></i></div>
                    <div class="precio-descuento">
                        <div class="precio">$23.200</div>
                        <div class="descuento"><small>5% off</small></div>
                    </div>
                    <div class="producto">SmartTv Samsung 43"</div>                   
                </article>
            </div>
        </section>
        <section class="seccionOfertas">
            <h3 class="titular">Sección de Ofertas</h3>    
            <div class="articulos"> 
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg" width="100%"></img>
                    <div><i class="fas fa-truck"></i></div>
                    <div class="precio-descuento">
                        <div class="precio">$6.770</div>
                        <div class="descuento"><small>40% off</small></div>
                    </div>
                    <div class="producto">Cafetera Moulinex</div>
                </article>
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" width="100%"></img>
                    <div><i class="fas fa-truck"></i></div>
                    <div class="precio-descuento">
                        <div class="precio">$230.000</div>
                        <div class="descuento"><small>20% off</small></div>
                    </div>
                    <div class="producto">MacBook Pro 2019</div>                
                </article>
                <article class="articulo">           
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="100%"></img>
                    <div><i class="fas fa-truck"></i></div>
                    <div class="precio-descuento">
                        <div class="precio">$70.500</div>
                        <div class="descuento"><small>10% off</small></div>
                    </div>
                    <div class="producto">Samsung Galaxy S10</div>       
                </article>          
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg" width="100%"></img>
                    <div><i class="fas fa-truck"></i></div>
                    <div class="precio-descuento">
                        <div class="precio">$23.200</div>
                        <div class="descuento"><small>5% off</small></div>
                    </div>
                    <div class="producto">SmartTv Samsung 43"</div>                   
                </article>     
            </div>   
        </section>
    </main>
    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>
</html>