<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá</title>
</head>
<body>
    <form method="post" action="/login">
        <div class="usuarioLogin">
            <label for="usuario">Nombre de usuari@</label>
            <input type="text" name="usuario" id="usuario">
        </div>
        <div class="contraseñaLogin">
            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" id="contraseña">
        </div>  
        <div class="enviarLogin">
            <button type="submit" name="Enviar">Enviar</button>
        </div>      
    </form>
    
</body>
</html>